In [1]:
twod = (42, 17)

In [2]:
threed =(7, 6, 14)

In [3]:
twod

(42, 17)

In [4]:
threed

(7, 6, 14)

In [5]:
twod[-1]

17

In [6]:
threed[-1]

14

In [7]:
threed[0] = 8

TypeError: 'tuple' object does not support item assignment

In [8]:
alist = [1, 2, 3]

In [9]:
alist[0] = 17

In [11]:
alist

[17, 2, 3]

In [12]:
for i in range(5):
    print (i, 2, 3)

0 2 3
1 2 3
2 2 3
3 2 3
4 2 3

In [13]:
def to_f(c):
    return ((9/5) * c) + 32

In [14]:
to_f('hello')

TypeError: can't multiply sequence by non-int of type 'float'